<div id="ref-tracker-modal-header" class="modal-dialog" style="max-width: 800px">
  <div class="modal-content" id="ref-tracker-modal-content">
    <div class="modal-header">
      <button class="close" type="button"></button>
      <h5 class="modal-title" id="ref-tracker-modal-title">Ref. Tracker</h5>
      <button class="close" type="button" id="ref-tracker-modal-mover"><i class="icon-cursor-move"></i></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-12">
          <label>Reference Number</label>
          <input type="text" class="form-control" id="reference-number" placeholder="Type at some characters of a refernce number to find it's journey" />
        </div>
        <div class="col-12" id="refi-tracker-content">
          <div class="block task-block">
            <ul id="journey-path"></ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="search-reference-number" type="button" disabled>sEARCH</button>
        <button class="btn btn-secondary close-btn" data-warning="true" data-modal-referer="ref-tracker-modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
