<div id="mail-preview-modal-header" class="modal-dialog" style="max-width: 1200px">
  <div class="modal-content" id="mail-preview-modal-content">
    <div class="modal-header">
      <button class="close" type="button"></button>
      <h5 class="modal-title" id="ref-tracker-modal-title">Email Preview</h5>
      <button class="close" type="button" id="mail-preview-modal-mover"><i class="icon-cursor-move"></i></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-8 col-md-8 col-sm-8">
          <iframe id="email-preview" style="width: 100%; height: 800px; border: 0px" src=""></iframe>
        </div>
        <div class="col-4 col-md-4 col-sm-4" id="mail-preview-forwarders"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary close-btn" data-warning="true" data-modal-referer="mail-preview-modal" type="button">Close</button>
        <button class="btn btn-primary" id="mail-preview-request-offer" type="button">SEND EMAILS</button>
      </div>
    </div>
  </div>
</div>
