<div id="expand-modal-header" class="modal-dialog modal-xl">
  <div class="modal-content" id="expand-modal-content">
    <div class="modal-header">
      <button class="close" type="button"></button>
      <h5 class="modal-title" id="ref-tracker-modal-title">Expand ID</h5>
      <button class="close" type="button" id="expand-modal-mover"><i class="icon-cursor-move"></i></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-6">
          <label> Group Type</label>
          <select id="expand-job-type" placeholder="Choose Group Type"></select>
        </div>
        <div class="form-group col-6">
          <label>Group / Consolidation ID</label>
          <input type="number" class="form-control" id="expand-group-id" placeholder="Type group id" />
        </div>
      </div>
      <div class="col-12" id="expand-table-div">
        <div class="table-responsive">
          <table id="expand-id-table" class="display table table-striped" style="width: 100%"></table>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="expand-id-btn" type="button">EXPAND</button>
        <button class="btn btn-secondary close-btn" data-warning="true" data-modal-referer="expand-modal" type="button">Close</button>
      </div>
    </div>
  </div>
</div>
